<div class="slider1">
  <div class="slide "><img src="/assets/prev.jpg" class=""><div class='subtitulo'><a href="#areas" style="margin: 180px 0px 0px 11px;color: #fff;position:absolute"><%=@noticias.last.titulo%></a>
    <div style="margin: 205px 0px 0px 11px;color: #fff;position:absolute"><%=@noticias.last.corpo.html_safe%></div></div></div>
  <div class="slide"><img src="http://placehold.it/700x350&text=FooBar1"></div>
  <div class="slide"><img src="http://placehold.it/500x150&text=FooBar1"></div>
  <div class="slide"><img src="http://placehold.it/500x150&text=FooBar4"></div>
  <div class="slide"><img src="http://placehold.it/500x150&text=FooBar5"></div>
  <div class="slide"><img src="http://placehold.it/500x150&text=FooBar6"></div>
  <div class="slide"><img src="http://placehold.it/500x150&text=FooBar7"></div>
  <div class="slide"><img src="http://placehold.it/500x150&text=FooBar8"></div>
  <div class="slide"><img src="http://placehold.it/500x150&text=FooBar9"></div>
  <div class="slide"><img src="http://placehold.it/500x150&text=FooBar10"></div>
</div>